# Firebase Configuration Template
# Copy this content to a new file named .env.local in your project root

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAEhhFjCo-aYX3PVt1LF4ZPjdaXRM3ydLk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=xevora-fc5b4.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=xevora-fc5b4
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=xevora-fc5b4.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=524702437214
NEXT_PUBLIC_FIREBASE_APP_ID=1:524702437214:web:90138cf5d3cf496b2889cf
